header{
    padding: 30px;
}
.header-frame{
    display: flex;
    justify-content: space-between;
 
    background-color: black;
    padding: 30px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000; 
}

.header-logo{
    align-self: center; 
}

.header-moon{
    align-self: center;
}

.plug{
    align-self: center;
}